{% if message.author == user %}
<li class="flex justify-end mb-4">
    <div class="bg-green-200 rounded-l-lg rounded-tr-lg p-4 max-w-[75%]">
        {% include "chat/partials/message_content.html" %}
        <!-- Проверяем, если файл существует -->
        {% if message.file %}
            {% if message.file.url|lower|slice:"-4:" == ".png" or message.file.url|lower|slice:"-4:" == ".jpg" or message.file.url|lower|slice:"-5:" == ".jpeg" or message.file.url|lower|slice:"-4:" == ".gif" %}
                <!-- Если файл - это изображение, отображаем его -->
                <div class="mt-2">
                    <img src="{{ message.file.url }}" alt="Изображение" class="max-w-full h-auto rounded-lg" />
                </div>
            {% else %}
                <!-- Если файл - это не изображение, отображаем ссылку для скачивания -->
                <div class="mt-2">
                    <a href="{{ message.file.url }}" target="_blank" class="text-blue-500">Скачать файл: {{ message.file.name }}</a>
                </div>
            {% endif %}
        {% endif %}
    </div>
</li>
{% else %}
<li>
    <div class="flex justify-start">
        <div class="bg-white p-4 max-w-[75%] rounded-r-lg rounded-tl-lg">
            {% include "chat/partials/message_content.html" %}
            <!-- Проверяем, если файл существует -->
            {% if message.file %}
                {% if message.file.url|lower|slice:"-4:" == ".png" or message.file.url|lower|slice:"-4:" == ".jpg" or message.file.url|lower|slice:"-5:" == ".jpeg" or message.file.url|lower|slice:"-4:" == ".gif" %}
                    <!-- Если файл - это изображение, отображаем его -->
                    <div class="mt-2">
                        <img src="{{ message.file.url }}" alt="Изображение" class="max-w-full h-auto rounded-lg" />
                    </div>
                {% else %}
                    <!-- Если файл - это не изображение, отображаем ссылку для скачивания -->
                    <div class="mt-2">
                        <a href="{{ message.file.url }}" target="_blank" class="text-blue-500">Скачать файл: {{ message.file.name }}</a>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="text-sm font-light py-1 ml-10">
        <span class="text-white">{{ message.author.name }}</span>
        <span class="text-gray-400">{{ message.author.username }}</span>
    </div>
</li>
{% endif %}
