{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изменение email</title>
    <link rel="stylesheet" href="{% static 'deps/css/account_style.css' %}">
</head>
<body>
    <div class="container">
        <nav>
            <a href="{% url 'main:index' %}">Главная</a>
            <a href="{% url 'main:index' %}">О нас</a>
            <a href="{% url 'main:index' %}">Контакты</a>
        </nav>
        <h1>Изменение email</h1>
        <div class="profile-section">
            <div class="profile-info">
                <h2>Введите новый email</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="settings-button">Изменить email</button>
                </form>
            </div>
        </div>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</body>
</html>
