{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кабинет пользователя</title>
    <link rel="stylesheet" href="{% static 'deps/css/account_style.css' %}">
</head>
<body>
    <div class="container">
        <nav>
            <a href="{% url "main:index" %}">Главная</a>
            <a href="about.html">О нас</a>
            <a href="contact.html">Контакты</a>
        </nav>
        <h1>Кабинет пользователя</h1>
        <div class="profile-section">
            <div class="profile-avatar">
                <img src="{% static 'deps/images/default-avatar.png' %}" alt="Аватар пользователя">
            </div>
            <div class="profile-info">
                <div>
                    <h2>Информация о пользователе</h2>
                    <p><strong>Имя:</strong> {{ user_name }}</p>
                    <p><strong>Email:</strong> {{ user_email }}</p>
                    <p><strong>Дата регистрации:</strong> {{ registration_date }}</p>
                </div>
                <div>
                    <h2>Настройки</h2>
                    <div class="settings-buttons">
                        <a href="{% url 'ps_account:change_password' %}">
                            <button class="settings-button">Изменить пароль</button>
                        </a>
                        <a href="{% url 'ps_account:change_email' %}">
                            <button class="settings-button">Изменить email</button>
                        </a>
                        <a href="{% url 'ps_account:delete_account' %}">
                            <button class="settings-button">Удалить аккаунт</button>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Модальные окна и другая разметка -->

    <script src="{% static 'deps/js/account.js' %}"></script>
</body>
</html>